.reactEasyCrop_Container {
    position: relative !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px !important;
    overflow: hidden;
    user-select: none;
    touch-action: none;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #70ecd1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #68ebce;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #70ecd1;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #68ebce;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #70ecd1;
    border: 4px dashed #ffffff;
    color: white;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}
.drag-text h3:hover {
    font-weight: 100;
    text-transform: uppercase;
    color: #70ecd1;
    padding: 60px 0;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #70ecd1;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.directory-card img {
    position: relative;
    top: 0px !important;
}

.footer-user {
    background-color: #fafafa;
    bottom: 0;
    padding: 20px calc(24px / 2);
    text-align: center;
    color: #5b626b;
    height: 60px;
    box-shadow: 0px -1px 2px 0px rgb(0 0 0 / 5%);
    position: absolute;
}